.cont {
    overflow: hidden;
    margin-block: 1rem;
}  

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 1rem;
    transition: background-color .3s ease-in-out;
}

.header h2 { margin: 0;}

.header span { 
    transition: transform .3s;
    transform: rotate(0deg);
}

.open .header span {
    transform: rotate(180deg);
}

.header:hover {
    background-color: rgba(100, 100, 100, 0.205);
}

.body {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

.inner {
    display: none;
    background-color: var(--light);
    padding: 1rem 2rem;
    border-radius: 5px;
}