.cont {
    overflow: hidden;
    margin-block: 1rem;
}  

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--light);
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.header h2 { margin: 0;}

.header span { 
    font-family: var(--font-runes);
    transition: transform .3s;
    transform: rotate(180deg) scale(1);
}

.open .header span {
    transform: rotate(0deg);
}

.open .header {
    background-color: var(--dark);
    color: var(--light);
}

.header:hover {
    background-color: rgba(214, 214, 214);
    color: var(--dark);
}

.open .header:hover {
    background-color: rgba(94, 94, 94);
    color: var(--light);
}

.header:hover span { transform: rotate(180deg) scale(1.5);}
.open .header:hover span {transform: rotate(0) scale(1.5);}

.body {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

.inner {
    display: none;
    background-color: var(--light);
    padding: 1rem 2rem;
    border-radius: 5px;
    overflow: auto;
}