.header {
    width: 100%;
    height: 100vh;
    background-image: url('/images/bg.jpg');
    background-repeat: repeat;
    text-align: center;
    color: white;
}

.logo, .error {
    font-size: 15rem;
    color: white;
    padding-top: 20vh;
}

.logo {
    font-family: logo-font;
}

.error {
    font-family: error-code;
}

@media (max-width: 850px) {
    .header {
        background-attachment: fixed;
    }
}

@media (max-width: 500px) {
    .logo, .error {
        font-size: 10rem;
    }
}

@media (max-width: 400px) {
    .logo, .error {
        font-size: 7rem;
    }
}
