.content {
    max-width: 1200px;
    margin: 5rem auto;
}

.content section {
    max-width: 1000px;
    margin: auto;
}

.content ul, .content ol {
    margin-block: 1rem;
    padding-left: 1rem;
}

.content ul li, .content ol li {
    padding-left: 1rem;
    margin-block: 1rem;
}
  
.content ul li::marker {
    content: 'o';
    font-family: logo-font;
}

.content a {
    color: white;
    padding: 3px 10px;
    background-color: black;
    transition: background-color .3s;
    text-decoration: underline;
    border-radius: 5px;
}

.content a:hover {
    background-color: rgba(0, 0, 0, 0.6);
}