.mods {}

.mods li > div {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
}

.mods li .img-cont {
    flex-shrink: 1;
    height: 25vh;
    width: calc(50% - 4px);
    margin-block: 2rem;
}

@media (max-width: 450px) {

    .mods ol li {
        padding-left: 0;
    }
    .mods li .img-cont {
        width: calc(100% - 4px);
        height: 30vh;
    }
}