.cont {
    width: 100%;
    overflow: auto;
    position: relative;
}

.cont .table {
    margin: auto;
}

.table th, .table td {
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 0.1rem;
    padding: 0 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--dark);
    transition: background-color .3s;
}

th.reload {
    padding: 2rem 3rem;
}

.username {
    min-width: 10rem;
    position: sticky;
    left: 0;
}

.cell {
    min-width: 3rem;
    flex-grow: 1;
}

.isuser .cell {
    cursor: pointer;
}

.on {
    background-color: #a3ffdd;;
}

.off {
    background-color: #ffd7e6;
}

.isuser .on:hover {
    background-color: #ffd7e6;
}
.isuser .off:hover {
    background-color: #a3ffdd;
}

.pending {
    background-color: #fff9c2;
}

.isuser .username {
    background-color: var(--dark);
    color: white;
}

@media (max-width: 600px) {
    .username {min-width: 6rem;}
}