.game, .info, .form {
    display: flex;
    align-items: center;
    gap: 3rem;
    min-height: 5rem;
}

.info, .control {
    flex-grow: 1;
}

.info  {justify-content: flex-end;}

.form {justify-content: space-between;}

.form-cont { flex-grow: 1;}

.input {width: 100%;}

.add {
    text-align: right;
    margin-top: 1rem;
}

.control {
    text-align: end;
}