.table {
    width: 100%;
    border: 1px solid var(--dark);
    border-collapse: collapse;
    text-align: center;
    table-layout: auto;
}

.table th, .table td {
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--dark);
}

.table td:first-of-type {
    font-weight: bold;
}