.div {
    position: relative;
    max-width: 250px;
    margin-inline: auto;
}

input.input {
    width: 100%;
    border: 1px solid white;
    color: white;
    display: block;
}

input.input option {
    color: black;
}

.error-text, .ok-text, .pending {
    font-size: 1.1rem;
    background-image: linear-gradient(to right, #38383859, #383838d4, #38383859);
}

.ok-text {
    color: rgb(15, 189, 15);
}
.error-text {
    color: rgb(255 74 74);
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invis {display: none !important;}